<a
  href="{{include.donate-link}}" target="_blank"><button
    class="button {{include.class}}"
    >

    {% if include.icon %}{% assign name =
    {{include.icon}} %}{% include svg_icon.html name=name %}{% endif %}

    <div class="button-info">

      <div class="item">{{include.item}}</div>

      {% if include.description %}
      <div class="description">{{include.description}}</div>
      {% endif %}
    </div>
    {% if include.price %}
    <span class="price">{{include.price}}</span>
    {% endif %}
  </button></a>
