<div class="donate-group">

  {% for button in include.buttons %}
  <div class="button-wrapper">
    {% include donate-link.html message=button.message amount=button.amount text=button.label icon=button.icon class=button.class %}
  </div>
  {% endfor %}
  <em class="visible">* inkl. 5 Jahre Baumpflege</em>

  <div class="social">
    <div class="button-wrapper">
      <a href="" class="button share twitter-share" alt="twitter">
        auf  {% include svg_icon.html name="twitter" %} teilen
      </a>
    </div>
    <div class="button-wrapper">
      <a href="" class="button share facebook-share" alt="facebook">
        auf  {% include svg_icon.html name="facebook" %} teilen
      </a>
    </div>
    <div class="button-wrapper">
      <a href="http://eepurl.com/dhl_Yn" class="button share" alt="updates">
        Updates {% include svg_icon.html name="bell" %} erhalten
      </a>
    </div>
  </div>

</div>
