<div class="donate-group">
  <div class="lang-selector lang-selector-wide">
    <ul>
    <li><a href="/zurich/de" class="lang-link {% if page.lang == 'de' %} active{% endif %}" >DE</a></li>
    <li><a href="/zurich/fr" class="lang-link {% if page.lang == 'fr' %} active{% endif %}">FR</a></li>
    <li><a href="/zurich/it" class="lang-link {% if page.lang == 'it' %} active{% endif %}">IT</a></li>
    <li><a href="/zurich/en" class="lang-link {% if page.lang == 'en' %} active{% endif %}">EN</a></li>
    </ul>
  </div>
  
  {% for button in include.buttons %}
  <div class="button-wrapper">
    {% include donate-link-zurich.html message=button.message amount=button.amount item=button.item description=button.description price=button.price icon=button.icon class=button.class donate-link=button.link%}
  </div>
  {% endfor %}
  <!-- <em class="visible">* inkl. 5 Jahre Baumpflege</em> -->

  {% if page.lang == 'de' %}
  <div class="social">
    <div class="button-wrapper">
      <a href="" class="button share twitter-share" alt="twitter">
        auf  {% include svg_icon.html name="twitter" %} teilen
      </a>
    </div>
    <div class="button-wrapper">
      <a href="" class="button share facebook-share" alt="facebook">
        auf  {% include svg_icon.html name="facebook" %} teilen
      </a>
    </div>
    <div class="button-wrapper">
      <a href="http://eepurl.com/dhl_Yn" class="button share newsletter" alt="updates">
        Updates {% include svg_icon.html name="bell" %} erhalten
      </a>
    </div>
  </div>
  {% else %}
    <div class="social">
      <div class="button-wrapper">
        <a href="" class="button share twitter-share" alt="twitter">
          {{site.data.translations[page.lang].share-twitter}}  {% include svg_icon.html name="twitter" %} 
        </a>
      </div>
      <div class="button-wrapper">
        <a href="" class="button share facebook-share" alt="facebook">
          {{site.data.translations[page.lang].share-facebook }}   {% include svg_icon.html name="facebook" %} 
        </a>
      </div>
      <div class="button-wrapper">
        <a href="{{site.data.translations[page.lang].newsletter-link}}" class="button share newsletter" alt="updates">
          {{ site.data.translations[page.lang].share-updates }}  {% include svg_icon.html name="bell" %} 
        </a>
      </div>
    </div>
    {% endif %}

</div>
