<div class="donate-group">
    <div class="button-wrapper">
        {% include button.html link="#" text="wenige Setzlinge spenden" icon="sprout" class="cta-button" %}
    </div>    
    <div class="button-wrapper">
        {% include button.html link="#" text="viele Setzlinge spenden" icon="sprout2" class="cta-button" %}
    </div>
    <div class="button-wrapper">
        {% include button.html link="#" text="ganz viele Setzlinge spenden" icon="tree" class="cta-button" %}
    </div>
    <div class="button-wrapper">
        {% include button.html link="#" text="Setzlinge verschenken" icon="gift" class="cta-button gift" %}
    </div>
</div>