<div class="donate-group">
  <div class="button-wrapper">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="NFHY9KTRNP3QU">
      {% include submit-button.html link="#" text="Einen Baum spenden 7.65 CHF" icon="tree-small" class="cta-button gift" %}
    </form>
  </div>
  <div class="button-wrapper">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="55HAFKN58FARQ">
      {% include submit-button.html link="#" text="5 Bäume spenden 38.25 CHF" icon="tree-medium" class="cta-button gift" %}
    </form>
  </div>
  <div class="button-wrapper">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="SD5FQV77F4AQU">
      {% include submit-button.html link="#" text="10 Bäume spenden 76.50 CHF" icon="tree-large" class="cta-button gift" %}
    </form>
  </div>
  <div class="button-wrapper">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="T7WCHGP3FTHFQ">
      {% include submit-button.html link="#" text="beliebiger Betrag" icon="sprout3" class="cta-button gift" %}
    </form>
  </div>
  <div class="button-wrapper">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="TCE9469S63S4S">
      {% include submit-button.html link="#" text="Bäume verschenken" icon="gift-solid" class="cta-button gift" %}
    </form>
  </div>
  <div class="social">
    <div class="button-wrapper">
      <a href="" class="button share twitter-share" alt="twitter">
        auf  {% include svg_icon.html name="twitter" %} teilen
      </a>
    </div>
    <div class="button-wrapper">
      <a href="" class="button share facebook-share" alt="facebook">
        auf  {% include svg_icon.html name="facebook" %} teilen
      </a>
    </div>
    <div class="button-wrapper">
      <a href="http://eepurl.com/dcYmPP" class="button share" alt="updates">
        Updates {% include svg_icon.html name="bell" %} erhalten
      </a>
    </div>
  </div>
</div>
