<div class="donate-group">
    <div class="button-wrapper">
        {% include button.html link="#" text="wenige Setzlinge spenden" icon="sprout1" class="cta-button" %}
    </div>    
    <div class="button-wrapper">
        {% include button.html link="#" text="viele Setzlinge spenden" icon="sprout2" class="cta-button" %}
    </div>
    <div class="button-wrapper">
        {% include button.html link="#" text="ganz viele Setzlinge spenden" icon="sprout3" class="cta-button" %}
    </div>
    <div class="button-wrapper">
        {% include button.html link="#" text="Setzlinge verschenken" icon="gift" class="cta-button gift" %}
    </div>
            <div class="social">
                <a href="" class="button simple">
                    {% include svg_icon.html name="twitter" %}
                </a>
                <a href="" class="button simple">
                    {% include svg_icon.html name="facebook" %}
                </a>
                 {% include button.html link="#" text="Updates erhalten" icon="bell" class="cta-button updates" %}
            </div>
</div>