<footer class="site-footer">


    <img src="{{ 'assets/img/logo-simple.svg' | relative_url }}" alt="" class="logo">
            <h2>{{ site.description | escape }}</h2>


    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h3>Kontakt</h3>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <h3>Auf Social</h3>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>


</footer>
