<div class="game-cta" style="display: none">
  <div class="button-wrapper">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="amount" value="1.00" id="score-amount">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="support@bos-schweiz.ch">
      <input type="hidden" name="item_name" value="Setzlinge spenden, 1 Setzling = 1 CHF">
      <input type="hidden" name="currency_code" value="CHF">
      <!--<input type="hidden" name="hosted_button_id" value="ZSFY59NSAL3NN">-->
      {% include submit-button.html link="#" text="Spende X Setzlinge" icon="gift" class="cta-button gift donate-score" %}
    </form>
  </div>

  <div class="button-wrapper">
    {% include button.html link="#" text="teile dein Ergebnis" icon="twitter" class="cta-button share-score" %}
  </div>
</div>
