<header class="site-header" role="banner" style="display: none">

  <div class="lang-selector lang-selector-narrow">
  <ul>
    <li><a href="/de/zurich" class="lang-link {% if page.lang == 'de' %} active{% endif %}" >DE</a></li>
    <li><a href="/fr/zurich" class="lang-link {% if page.lang == 'fr' %} active{% endif %}">FR</a></li>
    <li><a href="/it/zurich" class="lang-link {% if page.lang == 'it' %} active{% endif %}">IT</a></li>
    <li><a href="/en/zurich" class="lang-link {% if page.lang == 'en' %} active{% endif %}">EN</a></li>
  </ul>
</div>
  <div class="wrapper">

    <a class="site-title" href="{{ '/' | relative_url }}">
      {% include logo-block.html %}
    </a>
  </div>
</header>
