@charset "utf-8";

// Variables
$base-font-family: 'futura-pt', sans-serif !default;
$body-font-family: 'futura-pt', serif;
$header-font-family: 'futura-pt', sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;
$spacing-unit:     1rem !default;

// Colors
$dark-gray:         #545957;
$bright-green:      #17c37b;
$forest-green:      #78a15d;
$banana:            #eed974;
$pastel-pink:       #f3c9dd;
$milk-pink:         #f4e4ec;
$bright-orange:     #ef5b09;
$pastel-green:      #cdffcc;
$meringue:          #fdedb2;
$salmon:            #fe667b;
$plum:              #9c9cdd;

$text-color:       $dark-gray !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

// Color in use
$alternate-bg-color:   $milk-pink;
$alternate-color:   $forest-green;

// Grad
$gradient0: linear-gradient(53.72deg, $bright-green 0%, $bright-green 99.49%);
$gradient1: linear-gradient(53.72deg, $bright-green 0%, $banana 99.49%);
$gradient2: linear-gradient(53.72deg, $pastel-green 0%, $meringue 99.49%);
$gradient3: linear-gradient(53.72deg, $banana 0%, $pastel-green 99.49%);
$gradient4: linear-gradient(53.72deg, $salmon 0%, $plum 99.49%);
$gradient5: linear-gradient(53.72deg, $banana 0%, $forest-green 99.49%);
$gradient6: linear-gradient(53.72deg, $banana 0%, $salmon 99.49%);

// grid 
.grid {
    background-color: transparent;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(0, 0, 0, .4) 25%, rgba(0,0, 0, .4) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
  height:100%;
  background-size:32px 32px;
}

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,
    superwide: 1500px
);

@import 'mq','reset';

html, body {
    line-height: $base-line-height;
    font-family: $body-font-family;
    -webkit-font-smoothing: antialiased;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    color: $bright-green;
    font-weight: 700;

    .reverse & {
        color: white;
    }
}

.strong {
    font-weight: 700;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.hide {
    display: none;
}

.wf-loading  {
    h1, h2, h3, h4, h5, h6, p, .button {
        transition: filter .2s ease;
        filter:blur(5px);
    }
}

.wf-inactive  {
    h1, h2, h3, h4, h5, h6, p, .button {
        filter:none;
    }
}

.logo {
    @include mq($from: tablet) {
        width: 23rem;
        position: relative;
    }
}

main {
    @include mq($from: wide) {
        margin-top: -14rem;
    }
}

.paint {
    position: absolute;
    width: 100%;
}

.plant {
    position: relative;
}

// Button
.button {
    font-family: $header-font-family;
    font-weight: 700;
    // text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $spacing-unit*2 0;

    svg {
        fill: currentColor;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
    }
}



.cta-button {
    background: $gradient6;
    background: $banana;
    color: white;
    padding: 1rem;
    border-radius: .25rem;
    margin: 0;
    // flex: 1 1 100%;
    box-shadow: 0 1rem 2rem rgba($dark-gray,.2);
    justify-content: space-between;


    &:hover {
        background: $gradient0;
    }
}
.reverse {
    background: $gradient1;
    color: white;
}

.alternate {
    background: $gradient2;

    h2 {
        color: $alternate-color;
    }
}

.gift {
    background: $gradient4;
}

// donate group
.donate-group {
    // padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    // margin: 1rem;

    @include mq($from: superwide) {
        // margin: 1rem -.5rem;
        flex-flow: column wrap
    }

    .button-wrapper {
        padding: .5rem;

        @include mq($from: tablet) {
            flex: 0 1 50%;
        }

    }
     @include mq($from:superwide) {
            position: fixed;
            top: $spacing-unit/2;
            right: 1rem;
            width: 24rem;
            justify-content: flex-end;
        }


   
}

// Layout
section {
    padding: $spacing-unit*4 $spacing-unit;
    overflow: hidden;
    h2 {
        font-family: $header-font-family;
        font-size: 2rem;
        line-height: 1.25;
        margin-bottom: 2rem;
        font-weight: 700;

        @include mq($from: tablet) {
            font-size: 3rem;
        }
    }

    .content {
        max-width: 45rem;
        margin: 0 auto;
        line-height: $base-line-height;

        p {
            margin-bottom: $spacing-unit;
            font-size: 1.125rem;
            line-height: 1.75;

            @include mq($from: tablet) {
                font-size: 1.3rem;
                line-height: 1.58;
            }
        }

        p.image {
            margin-bottom: 0;
        }
    }
}

.image {
    text-align: center;
    padding: $spacing-unit 0;
}

@include mq($from: tablet) {
    .image {
        display: inline-block;
        margin: 0 $spacing-unit*2;
        padding: 0;

        img {
            margin-top: $spacing-unit*.5;
        }
        &.left {
            float: left;
            margin-left: -6rem;
        }
        &.right {
            float: right;
            margin-right: -6rem;
        }
    }
}

@include mq($from: desktop) {
    .image {
        &.left {
            margin-left: -10rem;
        }

        &.right {
            margin-right: -10rem;
        }
    }
}

footer {
    background: $banana;
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: $banana;

    h2 {
        color: white;
        font-size: 2rem;
        max-width: 60rem;
        margin: 0 auto;
        text-align: center;
    }

    svg {
        width: 20rem;
        margin: 0 auto;
    }
}