@charset "utf-8";

// Variables
$base-font-family: Arial, sans-serif !default;
$header-font-family: georgia, serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;
$spacing-unit:     1rem !default;

// Colors
$dark-gray:         #545957;
$bright-green:      #20ad65;
$banana:            #eed974;

$text-color:       $dark-gray !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

// Grad
$gradient1: linear-gradient(53.72deg, $bright-green 0%, $banana 99.49%);


$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px
);

@import 'mq','reset';

html {
    line-height: $base-line-height;
}

.reverse {
    background: $gradient1;
    color: white;
}

// Layout
section {
    padding: $spacing-unit;

    h2 {
        font-family: $header-font-family;
        font-size: 3rem;
        line-height: 1.25;
        margin-bottom: 2rem;
    }

    .content {
        max-width: 45rem;
        margin: 0 auto;
        line-height: $base-line-height;
    }
}

.image {
    display: inline-block;
    margin: $spacing-unit;
    &.left {
        float: left;
        margin-left: -10rem;
    }
    &.right {
        float: right;
        margin-right: -10rem;
    }
}