<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "de" }}">

  {% include head.html %}

  <body class="">
      <div class="hide">
        {% include svg.svg %}
      </div>

      {% include header.html %}

      <main class="page-content" aria-label="Content">
        {% include leaves.html %}

        {% assign sections = site.sections-nikin | sort: 'order' %}
        {% for section in sections %}
          <section id="{{ section.anchor }}" class="content-section {% cycle 'normal', 'reverse', 'alternate' %}">
            <div class="content">
                <h2>{{ section.title }}</h2>
                {{ section.content }}
            </div>
          </section>
        {% endfor %}
      </main>


    {% include footer_nikin.html %}

    <!-- fonts -->
    <script>
      (function (d) {
        var config = {
          kitId: 'uph1dzj',
          scriptTimeout: 3000,
          async: true
        },
          h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
      })(document);
    </script>

    <script src="{{ site.baseurl }}/js/rellax.min.js"></script>
    <!-- <script src="{{ site.baseurl }}/js/rlite.min.js"></script> -->
    <!-- Core JS file -->
    <!-- <script src="{{ site.baseurl }}/js/swipe/photoswipe.min.js"></script> -->

    <!-- UI JS file -->
    <!-- <script src="{{ site.baseurl }}/js/swipe/photoswipe-ui-default.min.js"></script> -->
    <script src="{{ site.baseurl }}/js/nikin.js"></script>
    <!-- <script src="{{ site.baseurl }}/js/otolswipe.js"></script> -->
    <!-- <script src="http://branch14.org/bos-game/main.js"></script> -->
       {% if site.google_analytics %}
        {% include google-analytics.html %}
       {% endif %}
  </body>
</html>
